@import "tailwindcss";

/* Typography styles */

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  line-height: auto;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 39.8px;
  line-height: auto;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 33.2px;
  line-height: auto;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 27.6px;
  line-height: auto;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  line-height: auto;
}

h6,.body-big {
  font-family: "Poppins", sans-serif;
  font-size: 19.2px;
  line-height: auto;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: auto;
}

.small {
  font-family: "Poppins", sans-serif;
  font-size: 13.3px;
  line-height: auto;
}

.smaller {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: auto;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: auto;
  font-weight: bold;
}

.primary-gradient {
  background: linear-gradient(to right, #9333EA, #DB2777);
}
.primary-gradient-text {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #9333EA, #DB2777);
}
